#contact
{
    margin: 0 auto;
    width: 100 vw;
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.ContactTitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.ContactsTitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.myContacts
{
    margin: 0 auto;
    width: 100 vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.SocialMedia{
    margin: 1rem 0;
    font-size: 3rem;
}

.ContactTextBar
{
    display: flex;
    margin: 1rem;
    padding: 2.5rem 2rem;
    border-radius: 0.5rem;
    width:100vw;
    max-width: 80%;
    text-align: left;
    background: rgb(125, 249, 255);
}

.contactPage
{
    margin: 1rem;
    padding: 2.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.ContactImg{
    height: 8%;
    width: 8%;
    margin-right: 2rem;
}
.ContactText{
    font-size: 1.1rem;
    font-weight: 200;
    color : rgb(8, 24, 168)
}

.resume{
    font-size: 1.1rem;
    font-weight: 200;
    color : rgb(8, 24, 168)
}

.resume:hover{
    color :red
}

.contactForm{
    margin : 1rem;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email , .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color :white;
    border: none;
    border-radius: 0.5;
    background-color: rgb(80,80,80);
}

.contactPageTitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.contactDesc{
    margin: 1rem 0;
    font-size: 1.25rem;
}

.submitBtn
{
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}
