#projects
{
    margin: 0 auto;
    min-height: calc(500vh -4rem);
    width: 100 vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    top: 0;
}

.projectpagetitle{
    margin: 1rem 0;
    font-size: 3rem;

}
.projectpagesubtitle{
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    width:100vw;
    max-width: 80%;
    text-align: left;
    background: rgb(50,50,50);

}