.navbar {
    height : 5 rem;
    width : 100 vw;
    max-width: 75 rem;
    margin : 0 auto;
    padding : 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(50, 50, 50);
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;

}

.desktopMenuListItem:hover{
    color:azure;
    padding-bottom: 0.5rem;
    border-bottom: 8px solid azure;
}



